@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-100: #26a69a;
	--primary-200: #408d86;
	--primary-300: #cdfaf6;
	--accent-100: #80cbc4;
	--accent-200: #43a49b;
	--text-100: #263339;
	--text-200: #728f9e;
	--bg-100: #e0f2f1;
	--bg-200: #d0ebea;
	--bg-300: #ffffff;
	--read: #26a66c;
	--not-read: #a62626;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	width: 100vw;
	min-height: 100vh;
	background: var(--bg-100);
	color: var(--text-100);
}

header {
	padding: 20px;
	background: var(--accent-100);
	color: var(--text-100);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	margin: auto;
}

.new-book-form-container {
	display: block;
	background-color: var(--bg-100);
	border-radius: 10px;
	width: 300px;
	max-width: 95vw;
	min-height: 300px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.form-title {
	font-family: inherit;
	font-weight: 700;
	text-align: center;
	margin: 10px;
}

.new-book-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 90%;
	margin: auto;
	padding: 20px 0px;
	min-width: 200px;
}

.form-input {
	border: 2px solid var(--accent-200);
	outline: none;
	border-radius: 6px;
	padding: 10px 14px;
	width: 90%;
	font-family: inherit;
	margin: 5px 0px;
	font-size: 1rem;
	font-weight: f400;
}

input[type="submit"] {
	border: none;
	outline: none;
}

.read-check-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0px;
	align-self: flex-start;
	width: 90%;
	margin: auto;
}

.read-check-container > input {
	margin-left: 10px;
}

button {
	font-family: inherit;
	color: inherit;
	font-weight: 700;
	font-size: 1rem;
	background: transparent;
	outline: none;
	cursor: pointer;
	box-shadow: none;
	border: none;
}

.button {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	font-weight: 700;
	font-family: inherit;
	padding: 10px;
	font-size: 1rem;
}

.submit-btn {
	background: var(--primary-100);
	color: #fafafa;

	width: 90%;
	border-radius: 10px;
	padding: 12px;
	margin-top: 10px;
}

.submit-btn:hover {
	background: var(--primary-200);
}

.form-modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh;
}

.closing-btn {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	position: absolute;
	top: 0;
	right: 10px;
	border-radius: 100%;
	padding: 2px;
	background-color: var(--primary-100);
	color: #fafafa;
}

.closing-btn span {
	font-size: 18px;
}

.closing-btn:hover {
	background: var(--primary-200);
}

.add-book-btn {
	transition: 300ms;
	color: var(--text-100);
	border: 2px solid var(--text-100);
	border-radius: 10px;
}

.add-book-btn:hover {
	transition: 300ms;
	background: var(--text-100);
	color: var(--bg-100);
}

.books-display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	width: 60%;
	max-width: 95vw;
	margin: auto;
}

.book-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border-radius: 10px;
	background: var(--bg-300);
	box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.45);
	color: var(--text-100);
	height: 280px;
	width: 280px;
	max-width: 100%;
}

.book-card div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 40px;
	height: 100%;
	align-items: center;
}

.book-card h2 {
	font-size: 1.5rem;
}

.book-card p {
	font-size: 1.2rem;
}

.book-card button {
	color: #ffffff;
	align-self: center;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
}

.remove-btn {
	background: var(--primary-100);
}

.remove-btn:hover {
	background: var(--primary-200);
}

.no-books {
	padding: 20px 0px;
	text-align: center;
	width: 100vw;
	margin-top: 30vh;
	font-weight: 700;
}

.read {
	background: var(--read);
}

.read:hover {
	background: #3a926a;
}

.not-read {
	background: var(--not-read);
}

.not-read:hover {
	background: #923a3a;
}
